services:
  haproxy:
    image: haproxytech/haproxy-alpine:s6-latest
    container_name: haproxy_main
    user: root
    ports:
      - "80:8080"
      - "443:8443"
      - "5555:5555"
    # environment:
    volumes:
      # Pfad angepasst an die offizielle Struktur
      - ./haproxy:/usr/local/etc/haproxy:rw
    restart: always