services:
  haproxy:
    image: haproxytech/haproxy-alpine:s6-latest
    container_name: haproxy_main
    ports:
      - "80:80"
      - "443:443"
      - "9000:9000"
      - "5555:5555"
      - "9999:9999"
    volumes:
      - ./haproxy:/usr/local/etc/haproxy:rw
    # Damit das Backend die App auf dem Host erreicht (app = host.docker.internal:3001)
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always