services:
  haproxy:
    image: haproxytech/haproxy-alpine:s6-latest
    container_name: haproxy_main
    user: root
    ports:
      - "80:8080"
      - "443:8443"
      - "5555:5555"
    volumes:
      - ./haproxy:/usr/local/etc/haproxy:rw
    # Damit das Backend die App auf dem Host erreicht (app = host.docker.internal:3001)
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always